body {
  background-color: aqua;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 500px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: aliceblue;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
h1{
  margin-top: 60px;
}
#username {
  margin-top: 10px;
  height: 50px;
  width: 85%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  font-size: 20px;
}
#password {
  height: 50px;
  width: 85%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.button{
  width: 87%;
  height: 60px;
  /* margin-bottom: 50px; */
  border-radius: 15px;
  background-color: blue;
  color: white;
  font-size: 20px;
  font-weight: bold;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.p{
  font-size: 20px;
  font-weight: bold;
  position: relative;
}
.p::after{
  content: "";
  width: 160px;
  height: 2px;
  background-color: black;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 100px;
  margin: auto;
}
.p::before{
  content: "";
  width: 160px;
  height: 2px;
  background-color: black;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: -276px;
  margin: auto;
}

.button1{
  width: 87%;
  height: 60px;
  margin-bottom: 50px;
  border-radius: 15px;
  background-color: thistle;
  color: black;
  font-size: 20px;
  font-weight: bold;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}