body {
  background-color: aqua;
  margin-bottom: 50px;
  font-family: "poppins";
}
.form {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 500px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: aliceblue;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
h1 {
  margin-top: 60px;
}
#username {
  margin-top: 10px;
  height: 50px;
  width: 85%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  font-size: 20px;
  margin: 0;
}
#password {
  height: 50px;
  width: 85%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin: 0;
}

.button {
  width: 87%;
  height: 60px;
  /* margin-bottom: 50px; */
  border-radius: 15px;
  background-color: blue;
  color: white;
  font-size: 20px;
  font-weight: bold;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.p {
  font-size: 20px;
  font-weight: bold;
  position: relative;
}
.p::after {
  content: "";
  width: 160px;
  height: 2px;
  background-color: black;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 100px;
  margin: auto;
}
.p::before {
  content: "";
  width: 160px;
  height: 2px;
  background-color: black;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: -276px;
  margin: auto;
}

.button1 {
  width: 87%;
  height: 60px;
  margin-bottom: 50px;
  border-radius: 15px;
  background-color: thistle;
  color: black;
  font-size: 20px;
  font-weight: bold;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.suc {
  color: green;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.unsuc {
  color: red;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.hidden {
  display: none;
}

.umess {
  color: red;
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}
.pmess {
  color: red;
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}
.usuc {
  color: green;
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}
.psuc {
  color: green;
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}

.modal-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.5); /* پشت صفحه تاریک */
  backdrop-filter: blur(5px); /* افکت تار شدن */

  z-index: 9999; /* همیشه روی همه چی */
}

.modal-card {
  background: white;
  padding: 20px 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  animation: popup 0.25s ease; /* انیمیشن زیبا */
}

.modal-card img {
  width: 80px;
  margin-bottom: 15px;
}

.modal-button {
  padding: 8px 20px;
  border: none;
  background: #4caf50;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.hidden {
  display: none;
}

/* انیمیشن */
@keyframes popup {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.wrap {
  width: 350px;
  height: 500px;
  background-color: white;
  margin: 50px auto;
  border-radius: 30px;
  overflow: hidden;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.col {
  width: 250px;
  height: 250px;
  margin: 40px auto;
  border-radius: 30px;
  transition: all 0.2s ease;
}
.btnwrap {
  text-align: center;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.showcol,
.showcol2 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.2s ease;
}
.btnn {
  padding: 20px 30px;
  font-size: 20px;
  background-color: greenyellow;
  border-radius: 30px;
  color: black;
  font-weight: bold;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.btnn2 {
  padding: 20px 30px;
  font-size: 20px;
  background-color: blue;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.select {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.inpuut{
  width: 50px;
  height: 30px;

}
.inpuut:checked ~ .inp{
  display: none;
}
.inpuut ~ p {
  display: none;
  font-family: "poppins";
  font-size: 20px;
  font-weight: bold;
}
.inpuut:checked ~ p {
  display: block;
}
.inpuut:focus-visible ~ p{
  display: block;
}

.panel { display:none; }
#t1:checked + label + .panel { display:block; }
#t2:checked + label + .panel { display:block; }

.item .body { height:0; overflow:hidden; transition:height .25s ease; }
.item:has(.h:focus) .body,
.item:has(.h:active) .body { height: auto; /* یا مقدار ثابت */ }

.sl , .sl1 , .sl2 {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-color: black;
}
.www{
  display: flex;
  gap: 10px;
}
.sl:hover{
  background-color: red;
  scale: calc(1.3);
}

.sl1:active{
  background-color: red;
  scale: calc(1.3);
}

.sl2:focus{
  background-color: red;
  scale: calc(1.3);
}

.sl:has(+ .sl1:hover){
  background-color: blue;
}
.sl1:has(+ .sl2:hover){
  background-color: #4caf50;
}
.sl2:has(.sl1:hover){
  background-color: aliceblue;
}

.sl:has(:hover){
  background-color: burlywood;
}

.sl:hover + .sl1 + .sl2 {
  background-color: yellow;
}
  .form:has(#checkbox:checked) .btn2 {
    background-color: lightgreen;
  }

.www:has(.sl1:hover) .sl2{
  rotate: 45deg;
  background-color: blue;
}

.www:has(.sl1:hover) .sl {
  rotate:  -45deg;
}

.form:has(.btn:hover) #checkbox{
  rotate: 40deg;
}

.form:has(#checkbox:checked) .btn2{
  scale: calc(2);
  background-color: tomato;
}



.koli{
  width: 500px;
  height: 500px;
  border-radius: 40px;
  background-color: white;
  margin: 0 auto;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  text-align: center;
}

.ko {
  margin-top: 30px;
  padding-top: 50px;
}

.koli input {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: center;
  font-size: 20px;
}

.koli p {
  font-size: 24px;
  font-weight: bold;
  padding-top: 30px;
}
.dok{
  margin-top: 40px;
}
.bu1{
  width: 150px;
  height: 40px;
  border-radius: 40px;
  background-color: greenyellow;
  padding: 10px 20px ;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
.bu2{
  width: 150px;
  height: 40px;
  border-radius: 40px;
  background-color: blue;
  padding: 10px 20px ;
  
}